* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bruno Ace SC', cursive;
  -webkit-tap-highlight-color: transparent;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a:focus,
a:visited,
a:active {
  outline: none;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.app a {
  text-decoration: none;
}

@media (max-width: 440px) {
  .app {
    margin-top: 4px;
  }
}
