.warning_text {
  text-align: end;
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 12px;
  line-height: 14px;
}

.info_text {
  width: 355px;
  color: gray;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
}
.info_text_forgot {
  width: 355px;
  color: gray;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 16px;
  text-decoration: underline;
  padding-bottom: 10px;
}
h2 {
  margin-bottom: 15px;
}
p {
  margin-bottom: 10px;
}

@media (max-width: 440px) {
  .form {
    width: 260px;
  }
  .info_text {
    width: 260px;
  }
}
